// Navigation Styles here


.nav-bar {
    border-bottom: 2px dashed silver;
    padding: 20px 0;

    div {
        width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media @mobile {
            width: 100%;
            flex-direction: column;
        }

        nav {
            display: flex;
            font-size: 1.5rem;
            width: 60%;
            justify-content: space-between;

            @media @mobile {
                padding-top: 20px;
            }

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    // @media @mobile {
    //     flex-direction: column;
    // }


    // h1 {
    //     padding: 20px 350px 20px 0;

    //     @media @mobile {
    //         padding: 0;
    //     }
    // }

    // span {
        
    //     @media @mobile {
    //         padding: 10px 0;
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-around;
    //     }

    //     a {
    //         padding-right: 30px;
    //         text-decoration: none;
    //         font-size: 1.5rem;
    //         color: @font-color;
    
    //         @media @mobile {
    //             padding: 0;
    //         }
    //     }
    // }
}
