// Navigation Styles here


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed silver;


    h1 {
        padding: 20px 250px 20px 0;
    }

    a {
        padding-right: 50px;
        text-decoration: none;
        font-size: 1.5rem;
        color: @font-color;
    }
}
